:root {
	--gp-background-color: #f6ebcc;
	--gp-achievement-color: #f88119;
	--gp-text-color: #625754;
	--gp-support-message-color: rgba(98, 87, 84, 0.15);
	--gp-border-color: #e3d6b1;
	--gp-scroll-color: #d5c599;
}
body .gp-overlay .gp-feedback-form .gs-select {
    background-color: rgba(65, 58, 56, 0.15) !important;
}

body .gp-overlay .gp-feedback-form .gs-select:hover {
    background-color: rgba(98, 87, 84, 0.25) !important;
}
body .gp-overlay-input__input::placeholder {
    color: #4e4e4eb2;
}
body .gp-overlay .gp-overlay-input__input {
    color: #4e4e4e !important;
}
body .gp-overlay .gp-overlay-input__input {
    background-color: rgba(98, 87, 84, 0.10);
    color: #e6e6e6; /* мягкий белый */
    border: 1px solid rgba(255,255,255,0.1);
}
/* Чат */
body .gp-overlay .gp-feedback-item {
    background: rgba(98, 87, 84, 0.15);
}

body .gp-overlay .gp-feedback-item:hover {
    background: rgba(98, 87, 84, 0.10);
}
/* Поддержка */
body .gp-overlay .gp-feedbacks-list__footer {
    background-color: var(--gp-background-color);
}
/* Поддержка */
body .gp-overlay .gp-feedback-chat-bottom__content {
    background-color: var(--gp-background-color);
}
/* Поддержка сообщение*/
body .gp-overlay .gp-feedback-chat-message_player {
    background-color: var(--gp-support-message-color) !important;
}
body .gp-overlay__container {
	background-color: var(--gp-background-color);
	color: var(--gp-text-color);
}
body .gp-achievement {
    background-color: var(--gp-achievement-color);
}
body .gp-overlay * {
	border-color: var(--gp-border-color);
}

body .gp-overlay .gp-list-item::after {
	background-color: var(--gp-border-color);
}

body .gp-list-item_active {
	background-color: var(--gp-border-color);
}
body .gp-overlay-divider::before,
body .gp-overlay-divider::after {
	background-color: var(--gp-border-color);
}

.gp-overlay ::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.gp-overlay ::-webkit-scrollbar-thumb {
	border-radius: 2px;
}

.gp-overlay ::-webkit-scrollbar-track {
	background-color: var(--gp-border-color);
}

.gp-overlay ::-webkit-scrollbar-corner {
	background-color: var(--gp-border-color);
}

.gp-overlay ::-webkit-scrollbar-thumb {
	background-color: var(--gp-scroll-color);
}
.gp-feedback-chat-message_system:nth-child(4n+1) {
    background-color: rgba(255, 166, 0, 0.413); /* оранжевый */
}

.gp-feedback-chat-message_system:nth-child(4n+2) {
    background-color: rgba(255, 105, 180, 0.443); /* розовый */
}

.gp-feedback-chat-message_system:nth-child(4n+3) {
    background-color: rgba(0, 200, 100, 0.458); /* зелёный */
}

.gp-feedback-chat-message_system:nth-child(4n+4) {
    background-color: rgba(0, 149, 255, 0.475); /* синий */
}

